#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  height: 100vh;
}

.select-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#drum-machine {
  background: #d3d3d3;
  padding: 20px;
  width: 500px;
  min-height: 600px;
}

.panel-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.panel-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.panel-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(44, 44, 44);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.panel-switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 0, 0);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.panel-switch-input:checked + .panel-switch-slider {
  background-color: rgb(44, 44, 44);
}

.panel-switch-input:checked + .panel-switch-slider:before {
  background-color: rgb(102, 255, 0);
}

.panel-switch-input:focus + .panel-switch-slider {
  box-shadow: 0 0 1px rgb(44, 44, 44);
}

.panel-switch-input:checked + .panel-switch-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.switch-label {
  font-weight: 800;
  margin-right: 10px;
  display: inline-block;
}

#display-panel {
  height: 44px;
  background: #868686;
  border: 4px solid #6d6d6d;
}
/* 


.panel-item {
  display: inline-block;
}



#drum-machine-mode-label {
  margin-bottom: 0;
  font-weight: 800;
}

.drum-machine-mode-label {
  font-weight: 800;
  margin: 0 5px;
}

#drum-machine-mode {
  text-align: center;
}

#drum-machine-mode {
  margin-bottom: 20px;
}

.volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: rgb(44, 44, 44);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: rgb(255, 0, 0);
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: rgb(255, 0, 0);
  cursor: pointer;
} */
