#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  height: 100vh;
}

.select-off {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#drum-machine {
  width: 660px;
  min-height: 300px;
  background: #d3d3d3;
  padding: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(44, 44, 44);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: red;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

input:checked + .slider {
  background-color: rgb(44, 44, 44);
}

input:checked + .slider:before {
  background-color: rgb(102, 255, 0);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(44, 44, 44);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

#drum-machine-power-label {
  font-weight: 800;
  margin-right: 10px;
  display: inline-block;
}
